#marketing .col-md-4 .fa {
  background: #ffd321;
  border-radius: 50%;
  color: #ffffff;
  font-size: 32px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin-bottom: 10px;
}
#digitalMarketing .col-md-4 .fa {
  background: #ffd321;
  border-radius: 50%;
  color: #ffffff;
  font-size: 32px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin-bottom: 10px;
}
#services {
  padding-top: 100px;
}


.text-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.body-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#marketing .col-md-6 {
  padding-top: 60px;
}
#digitalMarketing .col-md-6 {
  padding-top: 60px;
}
#marketing .col-md-6 h3 {
  padding-top: 40px;
  padding-bottom: 10px;
}
#digitalMarketing .col-md-6 h3 {
  padding-top: 40px;
  padding-bottom: 10px;
}

#marketing .col-md-6 p {
  padding-bottom: 30px;
}
#digitalMarketing .col-md-6 p {
  padding-bottom: 30px;
}
#marketing span {
  display: block;
  padding-bottom: 6px;
}
#digitalMarketing span {
  display: block;
  padding-bottom: 6px;
}
#marketing .progress {
  border-radius: 0;
  box-shadow: none;
  height: 6px;
}
#marketing .progress .progress-bar-primary {
  background: #ffd321;
}

#digitalMarketing .progress {
  border-radius: 0;
  box-shadow: none;
  height: 6px;
}
#digitalMarketing .progress .progress-bar-primary {
  background: #ffd321;
}

.vedio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 12rem !important;
}
.video-container {
  width: 500px;
}


@media (max-width: 768px) {
  .vedio {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
  }
  #marketing .col-md-6 {
    padding-top: 0px;
  }
  #marketing .col-md-6 h3 {
    margin-top: 0px !important;
  }
  .center {
    text-align: center;
  }
  #digitalMarketing .col-md-6 {
    padding-top: 0px;
  }
  #digitalMarketing .col-md-6 h3 {
    margin-top: 0px !important;
  }
  .center {
    text-align: center;
  }
  
}

