#team {
  text-align: center;
}

#team h3 {
  color: #202020;
}

#team .team-des {
  padding-top: 20px;
  padding-bottom: 40px;
}

.more {
  display: flex !important;
  flex-direction: column !important;
  text-align: center !important;
  justify-content: center !important;
}

.cards {
  display: flex;
  justify-content: center;
}

.plus {
  max-width: 350px;
  margin: 1rem;
  padding: 1rem;
  border: #202020 1px solid;
}

.background {
  background: #fff !important;
}

@media (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .more {
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
  }
  .plus {
    margin: auto;
    margin-bottom: 1rem;
    max-width: 90%;
 
  }
}