#contact {
    background: #f9f9f9;
    text-align: center;
  }
  #contact .fa {
    font-size: 40px;
  }
  #contact form {
    padding-top: 80px;
  }
  #contact .form-control {
    border-radius: 0;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
  }
  #contact .form-control:focus {
    border: 2px solid #808080;
  }
  #contact input {
    height: 50px;
  }
  #contact input[type="submit"] {
    border: 2px solid #808080;
    margin-top: 18px;
    height: 54px;
  }
  #contact input[type="submit"]:hover {
    background: #FFD321;
    color: #ffffff;
  }
  #contact textarea {
    height: 170px;
  }
  .contact-info-box h3 { font-size: 16px; }